.Log__root {
  display: flex;
  flex-basis: 600px;
  flex-direction: column;
}

.Log__top-box {
  display: flex;
  justify-content: space-between;
}

.Log__items {
  border-style: solid;
  border-width: 3px;
  padding: 8px;
  overflow-y: scroll;
  flex-basis: 100%;
}