<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reckon Coding Test</title>
  <meta name="description" content="Reckon Coding Test">
</head>
<body>
  <noscript>You need to enable JavaScript to use this Website</noscript>
  <div id="app"></div>
</body>
</html>
