@charset "utf-8";

/* COLORS */
$primary: #2E2E2E;
$primary-invert: #dbdbdb;
$info: #209CEE;
$success: #23D160;
$warning: #FFDD57;
$danger: #FF3860;
$light: #dbdbdb;
$dark: #363636;

$body-background-color: white;

/* TEXT */
$text: #4A4A4A;
$link: #b76e00;
$body-family: "Open Sans", -apple-system, sans-serif;
$title-family: Aldrich, sans-serif;
$button-family: Aldrich, sans-serif;

/* BREAKPOINTS */
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
$widescreen-enabled: true;
$fullhd-enabled: false;

/* LAYOUT */
$section-padding: 3rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;

/* Components */
$navbar-item-color: $light;
$navbar-item-hover-background-color: $primary;

@import "~bulma/bulma.sass";
